@import 'fonts.css';


:root {
    --p-b:'ProximaNovaBold';
    --p-r:'ProximaNovaRegular';
    
   

}

*{
    text-decoration: none;
    list-style: none;
   
}
.header{
    background: #341b54;
    
}


.navbar-brand2{
    font-family: var(--p-b);
     font-size: 18px;
     color: #e3d5ff  ; 
     text-transform: uppercase;
     margin-top: 7px;  
     
}

.navbar-brand2:hover{
    text-decoration: none;
    color: #e3d5ff  ; 
}

.header__nav-link{
    margin-right: 26px;
    font-size: 14px;
    font-family: var(--p-b);
    color: #e3d5ff;
    text-transform: uppercase;   
}

.header__nav-link:hover{
    color: #e3d5ff83;
    text-decoration: none;
    
}

.line{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #705096;
    margin-top: 20px;
    margin-bottom: 50px;
}


.contact-h2{
    color: #fefeff ;
    font-family: var(--p-r) ;
    font-size: 80px ;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 90px
}

.contact__title{
    color: #ffffff;
    font-size: 12px;
    font-family: var(--p-r);
    text-transform: uppercase;
    
   
}
.block-center{
  padding-bottom: 10px;  
}

.contact__title:hover{
    color: #928f8f; 
    text-decoration: none;
}

.contact__span-tilta{
    margin-left: 6px;
    color: white;
    text-transform: uppercase;
}

/***********************************/
/***********section**********/

.section-h2{
    color: #000000;
    font-size: 38px;
    font-family: var(--p-b);
    margin-top: 100px ;
    margin-bottom: 160px;
    text-transform: uppercase;
}

.section-img{
    width: 100%;
    margin-bottom: 200px;
}

.section-p1{
    color: #000000;
    font-size: 38px;
    font-family: var(--p-r);
    margin-bottom: 100px;
    text-transform: uppercase;
}

.section-p2{
    color: #000000;
    font-size: 16px;
    font-family: var(--p-r);
    margin-bottom: 70px;
   
}

 
 
 /**********************************/
/**********************************/


.block__ul{
    display: flex;
}

.block__ul-a{
  color: #e3d5ff  ;
  margin-right: 25px;
  font-family: var(--p-r)  ;
  font-size:  16px ;   
  text-decoration: none;
}

.block__ul-a:hover{
    color: #a7a0b6 ; 
    text-decoration: none;
    
}

.block__footer-title{
    color: #e3d5ff ;
    font-family: var(--p-b);
    font-size: 16px;
}

.block__footer-span{
    font-size: 16px;
    font-family: var(--p-b);
    color: #ff00f6;
    text-transform: uppercase;
}

.icon{
    margin-right: 22px;
    color: #e3d5ff;
}

.icon1{
  
   margin-right: 22px;
   color: #e3d5ff;
}

.icon:hover{
    color: #9c96a8;
}
.icon1:hover{
    color: #9c96a8;
}


.footer{
    background: #1b0c30;
    padding: 70px 0px 70px 0px ;
}


.block-center{
   
    margin: auto;
    
}
 

@media(max-width:1024px){
    .block__ul-a { 
        font-size: 11px;  
    }
    
    .block__footer-title {
  font-size: 14px;
    }
    
   }
@media(max-width:425px){
    .section-p1 { 
        font-size: 29px;   
    }
    
    .section-h2 {
        margin-bottom: 120px; 
    }
    
   }
@media(max-width:320px){
    .block__ul-a {
        font-size: 8px;
    }
    .block__footer-span {
        font-size: 12px;
       
    }
    
    .block__footer-title {
        
        font-size: 12px;
    }
    
    .block__ul {
        padding-bottom: 25px;
        padding-top: 25px;
    }
     
    
   }
